*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-image: url(../img/stars2.gif);
    background-repeat: repeat;
    font-size: 0.875em;
    font-family: 'ＭＳ Ｐゴシック', 'MS PGothic', 'メイリオ', monospace;

}

.container {
    width: 80%;
    margin: 2rem auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(40, 3vw);
    grid-gap: 1.5rem;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 8;
}
.gallery__item--2 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 8;
}
.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 15;
}
.gallery__item--4 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 8;
    grid-row-end: 15;
}
.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 15;
    grid-row-end: 22;
}
.gallery__item--6 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 15;
    grid-row-end: 22;
}
.gallery__item--7 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 22;
    grid-row-end: 29;
}
.gallery__item--8 {
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 22;
    grid-row-end: 29;
}

/* CSS Modal Checkbox Prototyping */
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease-in-out;
  }
  
  .modal {
    position: relative;
    max-width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translate(0,-50%);
    padding: 20px;
}

  .modal__img {
    width: 100%;
}

  input:checked ~ .modal-overlay {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }
